#table-control {
    border-color: #dc3545;
    border-style: double;
    width: 300px;
    text-align: center;
}

#displayAccount {
    border-color: #dc3545;
    border-style: double;
    width: 900px;
    position: absolute;
    left: 380px;
    top: 190px;
}
